body {
	font-family: sans-serif;
	color:#333;
}
h2 {
    margin: 10px;
    font-size: 18px;
    color: #333;
}
div.small-multiples {
	clear: both;
	margin-bottom: 40px;
	overflow: hidden;
}
div.chart {
	margin:10px;
	float: left;
}
div.chart h4 {
	font-size: 10px;
	color:#333;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
svg {
	
}

svg .linechart circle {
	fill:#000;
	stroke:none;
	fill-opacity:0;

}
svg .linechart g:hover circle {
	fill-opacity:1;
}
svg .linechart g:last-child circle {
	fill-opacity:1;
}
svg .linechart g text {
	fill:#333;
	text-anchor:middle;
	font-size:10px;
	fill-opacity:0;
}
svg .linechart g:hover text {
	fill-opacity:1;
}
svg .linechart g line.dropline {
	fill:none;
	stroke:#666;
	stroke-opacity:0.1;
	/*stroke-dasharray:2,2;*/
	shape-rendering: crispEdges;
}
svg .linechart g:hover line.dropline {
	stroke-opacity:0.8;
	stroke-dasharray:2,2
}

svg .linechart g rect.bg {
	fill:#fff;
	stroke:none;
	fill-opacity:0;
}
svg .linechart g:hover rect.bg {
	fill-opacity:0.6;
}
svg .linechart rect.ix {
	fill:#000;
	fill-opacity:0;
	stroke:none;
}

svg .linechart path {
	fill:none;
	stroke:#333;
	stroke-width:2;
}

svg .linechart path.area {
	stroke:none;
	fill:#A06535;
	fill-opacity:0.3;
}
svg .linechart path.default {
	stroke:#006AAD;
	stroke-width:1;
	stroke-opacity:0.6;
}


svg .threshold line {
	fill:none;
	stroke:#a0091d;
	stroke-width:1;
	stroke-opacity:0.5;
	/*stroke-dasharray: 1,1;*/
}

.chart.first #axes .axis.y,
.chart:hover #axes .axis.y{
	display: block;
}
#axes .axis.y {
	display: none;
}

#axes path,
#axes line {
	shape-rendering: crispEdges;
}

#axes .axis path {
	stroke:#aaa;
	stroke-width:1;
	fill:none;
}
#axes .axis .tick line {
	stroke:#aaa;
	stroke-width:1;
	fill:none;	
}
#axes .axis .tick text{
	font-size: 10px;
	fill:#aaa;
}
#axes .x .tick text{
	text-anchor:middle !important;
}

#axes line.ygrid {
	fill:none;
	stroke:#ccc;
	stroke-width:1;
	stroke-dasharray: 2,2;
}
.chart.first #axes line.ygrid,
.chart:hover #axes line.ygrid {
	display: block;
}
#axes line.ygrid {
	display: none;
}
#axes .tick line,
#axes  path {
	display: none;
}